<h1>Applications</h1>

<% if @applications.empty?%>
    <p>No applications found</p>
    <p> Create an application </p>
    <%= link_to 'New Application', new_users_application_path, class: "btn btn-primary" %>
<% else %>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @applications.each do |application| %>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <td class="px-6 py-4">
                        <a href="<%= users_application_path(application) %>">
                            <%= application.name %>
                        </a>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>  
<% end %>


