<turbo-frame id="document_<%= @document.id %>">
  <p class="text-green-600 font-semibold mb-4"><%= notice %></p>

  <div class="bg-gray-100 p-6 rounded-lg shadow-md">
    <%= render "document", document: @document %>
  </div>
</turbo-frame>