<div class="max-w-4xl mx-auto p-6 space-y-12">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">

        <!-- Section 1: What is this app? -->
        <section class="space-y-4 mb-12">
            <h2 class="text-3xl font-bold text-gray-800">What is this app?</h2>
            <p class="text-lg text-gray-700 leading-relaxed">
                As a software engineer dedicated to clear and effective communication, I wanted to explore the different methods and techniques for documenting code.
                What better way to do this than by building an API/app that showcases the different methods and tools available for technical documentation?
            </p>
            <p class="text-lg text-gray-700 leading-relaxed">
               This app was inspired by the <a target="_blank" href="https://github.com/matheusfelipeog/beautiful-docs" class="text-indigo-600 font-semibold">Beautiful Docs repository by @matheusfelipeog</a>.
            </p>
            <p class="text-lg text-gray-700">
                The open collaboration and willingness to share resources and information that I've encountered while learning more about documentation have inspired me to "app-ify" this repository and create a community dedicated to showcasing beautiful documentation.
            </p>
            <p class="text-lg text-gray-700">
                In this first iteration of the app, an API, explore the collection of beautiful documents that have already been curated by the community. 
            </p>
        </section>

        <!-- Section 2 and Section 3 in the same column -->
        <div class="grid grid-cols-1 gap-8 md:col-span-1">
            <!-- Section 2: How do I make requests? -->
            <section class="space-y-4 mb-12">
                <h2 class="text-3xl font-bold text-gray-800">How do I make requests?</h2>
                <p class="text-lg text-gray-700">
                    To get started making API requests, please refer to the  <a href="/getting_started" class="text-indigo-600 font-semibold">Get Started</a> section.
                </p>
                <p class="text-lg text-gray-700">
                    A collection of Postman documentation <a target="_blank" href="https://www.postman.com/lunar-module-pilot-45241596/workspace/moonrocks-dev/collection/39725176-2f855588-6429-457e-872a-9e529c4a3a83?action=share&source=copy-link&creator=39725176&active-environment=db4ab1f4-3b05-46cc-ab2c-5d0ac30cc4f2" class="text-indigo-600 font-semibold" target="_blank">can be viewed here.</a>
                </p>
            </section>

            <!-- Section 3: How is the app made? -->
            <section class="space-y-4">
                <h2 class="text-3xl font-bold text-gray-800">How is the app made?</h2>
                <p class="text-lg text-gray-700">
                    The app is made using <span class="font-semibold text-slate-600">Ruby on Rails</span> and is styled using <span class="font-semibold text-slate-600">Tailwind CSS</span>. The API is documented using <span class="font-semibold text-slate-600">Swagger</span>, <span class="font-semibold text-slate-600">Open API</span>, and <span class="font-semibold text-slate-600">Postman</span> and adheres to the <span class="font-semibold text-slate-600">JSON:API specification</span>. The app is hosted on <span class="font-semibold text-slate-600">Render</span> and uses a <span class="font-semibold text-slate-600">Postgres</span> database.
                </p>
                <p class="text-lg text-gray-700">
                    For more information and setup instructions visit the project <a href="https://github.com/rachel-moonrocks/beautiful_docs_app" class="text-indigo-600 font-semibold" target="_blank">repository</a>.
                </p>
            </section>


        </div>
    </div>
</div>
