<%# 
<h1 class="text-4xl font-bold text-center">Welcome to My Website</h1>
<p class="text-gray-600 text-lg">This is a paragraph with lighter text.</p> %>

<div class="grid grid-cols-1 gap-4">
    <h1 class="text-2xl font-bold">What is this app?</h1>
    <p>
        As an engineer with an interest in documentation, I wanted to create a way to explore the different avenues of documentation.
        This app was inspired by the repo beautiful docs by @username. Wanted to create a way to learn about documentation and share that with others.
        One of the greatest things about refining my documentation skills is that there are so many resources online, all fantastic to read.
        a curated list of beautiful documentation.
        this app was created off the repo beautiful docs by @username
    </p>

    <p>
        as an engineer pivoting to document engineer, wanted a way to learn about documentation and share that with others. this app is a way to do that.
        learn me about me here at contact page.
    </p>


    <p>
        check - getting started to create a client id & secret to make calls through curl/postman collection
    </p>

    <p>
        check- swagger documentation to see the api documentation 
        https://www.postman.com/lunar-module-pilot-45241596/workspace/moonrocks-dev/collection/39725176-2f855588-6429-457e-872a-9e529c4a3a83?action=share&source=copy-link&creator=39725176&active-environment=db4ab1f4-3b05-46cc-ab2c-5d0ac30cc4f2
    </p>

</div>

