<% require 'faker' %>

<h1>Terms of Service</h1>

<p><%= Faker::Lorem.paragraph(sentence_count: 105) %></p>

<p><%= Faker::Lorem.paragraph(sentence_count: 105) %></p>

<p><%= Faker::Lorem.paragraph(sentence_count: 105) %></p>

<p><%= Faker::Lorem.paragraph(sentence_count: 105) %></p>